extends layout

block content
  .main-container
    .greeting-text.text-center
      h4.roboto(style="margin-top: 0;") Suffering atophic diseases?
      h5.roboto Atocare will be a great solution to your baby.
    .icons.text-center(style="margin: 40px 0;")
      #profile-icon
        img(src="/images/main/profile_icon.png")
      .icon-list
        .row.icon-row
          .col-xs-3.icon-col
            a(href="/alarm")
              img(src="/images/main/alarm_icon.png")
          .col-xs-3.icon-col
            a(href="/baby/profile")
              img(src="/images/main/baby_info_icon.png")
          .col-xs-3.icon-col
            a(href="/schedule")
              img(src="/images/main/calendar_icon.png")
          .col-xs-3.icon-col
            a(href="/food")
              img(src="/images/main/food_icon.png")
        .row.icon-row
          .col-xs-3.icon-col
            a(href="/environment")
              img(src="/images/main/house_icon.png")
          .col-xs-3.icon-col
            a(href="/person/add")
              img(src="/images/main/person_add_icon.png")
          .col-xs-3.icon-col
            a(href="/settings")
              img(src="/images/main/setting_icon.png")
          .col-xs-3.icon-col
            a(href="/statistics")
              img(src="/images/main/statistics_icon.png")
