@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://fonts.googleapis.com/css?family=Roboto);

.noto {
  font-family: 'Noto Sans Korean', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  /* position: relative; */
  font-size: 100%;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
/* #F7F7F7 */
/* #616161 */
/* #868686 */
/* #86837E */

.main-header {
  width: 100%;
  padding: 20px 10px;
  height: 80px;
  background: #86837E;
}

.main-container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background: #86837E;
}

.back-button, .plus-button {
  position: absolute;
}

.plus-button {
  top: 20px;
  right: 10px;
}

.header-title {
  font-size: 24px;
  color: #F7F7F7;
}

.fit-to-div {
  max-width: 100%;
  height: auto;
}

.greeting-text {
  color: #F7F7F7;
}

#profile-icon {
  margin-top: 20px;
}

#profile-icon img {
  width: 180px;
  height: auto;
}

.icon-list {
  margin-top: 30px;
}

.icon-row {
  margin-top: 10px;
  padding: 0 20px;
}

.icon-col {
  padding: 0;
}

.environment-image {
  margin-top: 10px;
}
